DATABASE_URL=postgresql://database_new_hami_user:fIMmWZbsjveEYPItqs776jSriCfWeSde@dpg-d7l25q9j2pic73ci48vg-a.oregon-postgres.render.com/database_new_hami
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret
